*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.box {
	overflow: hidden;
	transition: 0.5s;
}

.box:hover {
	width: 90px;
	z-index: 1;
	transform: scale(1.25);
	box-shadow: 0 10px 20px rgba(0,0,0,0.5);	
}