*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#banner	{
	background-image: url('./images/banner.jpg');
	position: relative; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}

#profilepic {
	width: 150px; 
	height: 150px;
}